__pycache__/
*.py[cod]
*$py.class

.env
.env.*
.venv/
venv/
env/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.ipynb_checkpoints/

.DS_Store

.pytest_cache/

build/
dist/
*.egg-info/

logs/
*.log

faiss.index

*.local